<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div>
        <div class="panel-heading">Confirmation</div>
        <div class="panel-body">
            <div class="form-group">
                <label>ID:</label>
                <label th:text="${produit.id}"></label>
            </div>
            <div class="form-group">
                <label>Désignation:</label>
                <label th:text="${produit.designation}"></label>
            </div>
            <div class="form-group">
                <label>Prix:</label>
                <label th:text="${produit.prix}"></label>
            </div>
            <div class="form-group">
                <label>Quantité:</label>
                <label th:text="${produit.quantite}"></label>
            </div>
        </div>
    </div>

</div>

</body>
</html>